h2 {
  margin: 0;
}

p {
  margin: 0; 
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem; 
  text-align: center;
}

.status-bar-container {
  min-height: 150px; 
  background-color: #dbd7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.content-area-container {
  min-height: 1070px;
  background-color: #b0b0b0;
}

.content-area-container-expanded {
  min-height: 1150px;
  background-color: #b0b0b0;
}

.cards-container {
  min-height: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbd7d7;
  padding: 0 10px;
}

.climate-controls-container {
  min-height: 280px; 
  background-color: #b0b0b0;
}

.card {
  background-color: aqua;
  width: 387px;
  height: 400px;
}

.date-container {
  display: flex;
  flex-direction: column;
}

div > input {
  max-width: 60px;
  height: auto;
}
